<main class="content-center">
    @if (!showNewOffer()) {
        <button type="button" (click)="newBarter()">New Offer</button>
        <ul>
            @for (barter of barters(); track $index) {
                <hr>
                <li>
                    <app-barter [acceptEnabled]="true" [barter]="barter" (acceptedSig)="removeAcceptedOffer($event)"/>
                </li>
            }
        </ul>
    }
    @if (showNewOffer()) {
        <app-proposal [missing]="missing()" [owned]="owned()" (newInSig)="removeFromMissing($event)" (newOutSig)="removedFromOwned($event)" (cancelSig)="restoreLists($event)"/>
    }
    <a routerLink="">< Back</a>
</main>
