<div class="content-center">
    <form (ngSubmit)="editUser()">
        <label for="username">New Username</label>
        <input id="username" type="text" [(ngModel)]="username" name="username">
        <label for="email">New Email</label>
        <input id="email" type="email" [(ngModel)]="email" name="email">
        <label for="password">New Password</label>
        <input id="password" type="password" [(ngModel)]="password" name="password">
        <label for="hero">New Favourite Hero</label>
        <select id="hero" name="hero" [(ngModel)]="hero">
            @for (option of options(); track option.id) {
                <option [value]="option.id">
                    {{ option.name }}
                </option>
            }
        </select>
        <button type="submit">Edit</button>
        <button type="button" (click)="showDelete()">Delete User</button>
        @if(deleteView()) {
            <app-user-delete (deleteSig)="hideDelete($event)" />
        }
    </form>
</div>