<div class="content-center">
    <form (ngSubmit)="login()">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" [(ngModel)]="username">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" [(ngModel)]="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" [(ngModel)]="password">
        <button type="submit">Login</button>
        <p>  {{ errMsg() }} </p>
    </form>
</div>