<table>
    <tr>
        <td>
            <h3>Out</h3>
            @for (hero of barter().out; track $index) {
                <img [src]="hero.imageURL" [alt]="hero.name">
            }
        </td>
        <td>
            <h3>In</h3>
            @for (hero of barter().in; track $index) {
                <img [src]="hero.imageURL" [alt]="hero.name">
            }
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" (click)="acceptOffer()">Accept</button>
        </td>
    </tr>
</table>