div {
  height: 500px;
}
form {
  max-width: 250px;
  padding: 20px;
  background-color: #9290c3;
  border-radius: 10px;
}
label {
  margin-right: 10px;
}
button {
  width: 100px;
  height: 25px;
  border-radius: 10px;
}
