body {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(7, 15, 43, 0.85);
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nah {
  color: #070F2B;
  color: #1b1a55;
  color: #535C91;
  color: #9290C3;
}